.obroduvane{
    width: 90%;
    height: 120vh;
    /* border: 2px solid red; */
}
.obroduvane .obroduvane_top{
    width: 100%;
    height: 60vh;
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
}
.obroduvane .obroduvane_top .obroduvane_img1{
    width: 65%;
    height: 100%;
    background-image: url(../../../public/images/obnov2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    /* border: 2px solid rgb(40, 205, 7); */
    position: relative;
}
.obroduvane .obroduvane_top .obroduvane_img1 img{
    width: 52%;
    height: 55%;
    position: absolute;
    right: 50px;
    bottom: 50px;
}
.obroduvane .obroduvane_top .obroduvane_img1 .text{
    width: 30%;
    height: 70px;
    /* border: 2px solid green; */
    position: absolute;
    top: 50px;
    left: 260px;
    color:  white;
}
.obroduvane .obroduvane_top .obroduvane_img1 .text h1{
   padding: 3px 0;
}

.obroduvane .obroduvane_top .obroduvane_text1{
    width: 35%;
    height: 100%;
    /* border: 2px solid blue; */
}
.obroduvane .obroduvane_top .obroduvane_text1 p {
  font-size: 13px;
  padding-top: 20px;
  padding-left: 15px;
  color: rgb(137, 136, 136);
}
.obroduvane .obroduvane_top .obroduvane_text1 h2{
    font-size: 15px;
    padding-top: 35px;
    padding-left: 15px;
    font-weight: 600;
}
.obroduvane .obroduvane_bot{
    width: 100%;
    height: 60vh;
    display: flex;
    /* border: 2px solid rgb(2, 219, 248); */
    align-items: center;
}
.obroduvane .obroduvane_bot .obroduvane_img{
    width: 65%;
    height: 100%;
    /* border: 2px solid blue; */
}
.obroduvane .obroduvane_bot .obroduvane_img img{
    width: 100%;
    height: 100%;
}
.obroduvane .obroduvane_bot .obroduvane_text{
    width: 35%;
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.obroduvane .obroduvane_bot .obroduvane_text img{
    width: 90%;
    height: 90%;
}
